{% load static %}
{% load filters %} 
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Сторінка історії генерацій{% endblock %}</title>
    {% block link %}
        <link rel="stylesheet" href="{% static 'css/history_gen.css' %}">
        <link rel="icon" href="{% static 'images/Logo.png' %}" type="image/png">
    {% endblock %}
</head>
<body>
    {% block content %}
    <header class="header_main">
        <a class='home_url' href="{% url 'home' %}">
            <img class="Logo_img" src="{% static 'images/Logo.png' %}" alt="Logo" />
        </a>
        <a href="{% url 'home' %}" class="{% if request.path == '/' %}current-page{% endif %}">Головна</a>
        <a href="{% url 'generator' %}" class="{% if request.path == '/generator/' %}current-page{% endif %}">Кодогенерація</a>
        <a id="generation" href="{% url 'history_generations' %}" class="{% if request.path == '/history_generations/' %}current-page{% endif %}">Генерації</a>
        <a href="{% url 'contacts' %}" class="{% if request.path == '/contacts/' %}current-page{% endif %}">Контакти</a>
        <div class="logout">
            <a class="logout_кнопка" href="{% url 'logout' %}">Вийти: {{ request.user.username }}</a>
        </div>
    </header>
    <div class="Frame">
        <div class="Header_Frame">
            <p>Історія ваших генерацій</p>
        </div> 
        <div class="QR_Container">
            {% for qr in qr_codes %}
            <div class="QR_Item">
                <div class="QR_Image_Container">
                    <img src="{{ qr.image }}" alt="{{ qr.name }}" class="QR_Image" onerror="this.onerror=null;this.src='{% static 'images/default_image.png' %}';">
                </div>
                <div class="QR_Details">
                    <p class="QR_Name">Назва: {{ qr.name }}</p>
                    <p class="QR_Date">Дата створення: {{ qr.data_create|ukrainian_date }}</p>
                    <div class="QR_Actions">
                        <a href="{{ qr.image }}" download="{{ qr.name }}.png" class="download-btn">Завантажити</a>
                        <form method="post" action="{% url 'delete_qr_code' qr.id %}">
                            {% csrf_token %}
                            <button type="submit" class="delete-btn">Видалити</button>
                        </form>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>У вас ще немає згенерованих QR-кодів.</p>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>
</html>