{% load static %}
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сторінка генерації</title>
    <link rel="stylesheet" href="{% static 'css/generator.css' %}">
    <link rel="icon" href="{% static 'images/Logo.png' %}" type="image/png">
</head>
<body>
    <header class="header_main">
        <a class='home_url' href="{% url 'home' %}">
            <img class="Logo_img" src="{% static 'images/Logo.png' %}" alt="Logo" />
        </a>
        <a href="{% url 'home' %}" class="{% if request.path == '/' %}current-page{% endif %}">Головна</a>
        <a href="{% url 'generator' %}" class="{% if request.path == '/generator/' %}current-page{% endif %}">Кодогенерація</a>
        <a href="{% url 'history_generations' %}" class="{% if request.path == '/history_generations/' %}current-page{% endif %}">Генерації</a>
        <a href="{% url 'contacts' %}" class="{% if request.path == '/contacts/' %}current-page{% endif %}">Контакти</a>
        <div class="logout">
            <a class="logout_кнопка" href="{% url 'logout' %}">Вийти: {{ request.user.username }}</a>
        </div>
    </header>
    <div class="Generator_frame">
        <div class="Generator_header">
            <p>Згенеруйте ваш QR code</p>
        </div>
        <div class="Generator_internal_frame">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="name">Ім'я:</label>
                <input type="text" id="name" name="name" required><br><br>
                <label for="link_or_text">Посилання або текст:</label>
                <input type="text" id="link_or_text" name="link_or_text" required><br><br>
                <label for="size">Розмір генерації QR-коду:</label>
                <select id="size" name="size">
                    <option value="200">200x200</option>
                    <option value="300">300x300</option>
                    <option value="400">400x400</option>
                    <option value="500">500x500</option>
                </select><br><br>
                <label for="qr_color">Колір QR-коду:</label>
                <input type="color" id="qr_color" name="qr_color" value="#000000"><br><br>
                <label for="bg_color">Колір фону:</label>
                <input type="color" id="bg_color" name="bg_color" value="#FFFFFF"><br><br>
                <label for="logo">Додати логотип:</label>
                <input type="file" id="logo" name="logo" accept="image/*"><br><br>
                <label for="gradient">Налаштувати градієнт:</label>
                <input type="checkbox" id="gradient" name="gradient"><br><br>
                <div id="gradient-colors" style="display: none;">
                    <label for="color1">Колір 1 градієнту:</label>
                    <input type="color" id="color1" name="color1" value="#ff0000"><br><br>
                    <label for="color2">Колір 2 градієнту:</label>
                    <input type="color" id="color2" name="color2" value="#00ff00"><br><br>
                </div>
                <label for="shape">Форма QR-коду:</label><br>
                <label>
                    <input type="radio" name="shape" value="rounded" checked>
                    З закругленими кутами
                </label><br>
                <label>
                    <input type="radio" name="shape" value="square">
                    Квадратна форма
                </label><br><br>
                <label for="element_shape">Форма елементів QR-коду:</label><br>
                <label>
                    <input type="radio" name="element_shape" value="circle" checked>
                    Кружки
                </label><br>
                <label>
                    <input type="radio" name="element_shape" value="triangle">
                    Трикутники
                </label><br>
                <label>
                    <input type="radio" name="element_shape" value="square">
                    Квадрати
                </label><br><br>
                <button class="Buttom_Down" type="submit">Генерувати</button>
            </form>
            <div class="qr-code-overlay">
                <h2>Ваш QR-код:</h2>
                <div style="width: 200px; height: 200px; overflow: hidden;">
                    {% if qr_image_url %}
                        <img src="{{ qr_image_url }}" alt="QR-код" id="qr-code-img" style="width: 200px; height: 200px; object-fit: contain;">
                    {% else %}
                        <img src="{% static 'images/qrCodeExample.png' %}" alt="Placeholder" id="qr-code-placeholder" style="width: 200px; height: 200px; object-fit: contain;">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('gradient').addEventListener('change', function() {
            const gradientColors = document.getElementById('gradient-colors');
            gradientColors.style.display = this.checked ? 'block' : 'none';
        });
    </script>
</body>
</html>
