@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    background-color: #202831; 
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 1250px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.header_main { 
    width: 100%; 
    height: 100px; 
    display: flex; 
    align-items: center; 
    padding: 0 20px; 
    background-color: #252D38; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    flex-direction: row;
}

.header_main a { 
    color: #CAD1D4; 
    font-size: 22px; 
    text-decoration: none; 
    padding: 15px; 
}

.header_main a.current-page { 
    text-decoration: underline; 
}

.Logo_img { 
    width: 100px; 
    height: 100px; 
    background-color: transparent; 
    padding-right: 1200px;
    padding-left: -10;
}

.Attention_alert { 
    width: 660px;
    height: 30px;
    margin: auto;
    text-align: center;
    border: solid 5px #BEBBFF;
    border-radius: 5px;
    background-color: #BEBBFF;
    font-size: 20px;
    color: #202831;
    margin-top: 14px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}


p{ 
    align-items: center; 
    display: block; 
    text-align: center; 
    margin: auto;
}

.Description_text{
    align-items: center; 
    display: block; 
    text-align: center; 
    margin: auto;
    font-size: 25px;
    color: #CAD1D4;
    margin-top: 20px;
}

.Qr_code_preview_img{
    width: 890px;
    height: 383px;
    align-items: center; 
    display: block; 
    text-align: center; 
    margin: auto;
    margin-top: 20px;
}

.Description_text{
    width: 960px;
    height: 178px;
}

h1{
    align-items: center; 
    display: block; 
    text-align: center; 
    font-weight: bold;
    font-size: 45px;
    color: #CAD1D4;
    margin-top: 20px;
}

.Qr_code_preview_img { 
    width: 100%; 
    max-width: 890px; 
    height: auto; 
    padding-top: 20px; 
    margin-bottom: 60px;
}
.plans_header {
    text-align: center;
    color: #CAD1D4;
    font-family: Arial, sans-serif;
    width: 1140px;
    height: 50px;
    background-color: #35475D;
    font-size: 20;
    font-weight: bold;
    margin: 0 auto; 
    margin-top: 20px; 
}

.plans_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    font-size: 12px;
    margin-top: 40px;
    padding: 20px;
    background-color: #1A202C;
    width: 1100px;
    height: 450px;
    margin: 0 auto;
}

.Tarif_Plans {
    font-size: 22px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    width: 100%; 
    height: 100%;
    margin: 0 auto; 
}

.plan {
    background-color: #252D38;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    color: #CAD1D4;
    width: 300px;
    border: 1px solid #CAD1D4;
    margin: 0 auto; 
    width: 341px;
    height: 391px;
}

.plan h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

.plan p {
    font-size: 0.95em;
    line-height: 1.6;
    text-align: center; 
    padding: 17px;
    font-size: 22px;
}

.button {
    margin: 0 auto;
    display: block;
    width: 300px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #257AC4;
    color: #257AC4;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
