@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    background-color: #202831; 
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 1250px;
    box-sizing: border-box;
    overflow: hidden;
}

.header_main { 
    width: 100%; 
    height: 100px; 
    display: flex; 
    align-items: center; 
    padding: 0 20px; 
    background-color: #252D38; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    flex-direction: row;

}

.header_main a { 
    color: #CAD1D4; 
    font-size: 22px; 
    text-decoration: none; 
    padding: 15px; 
}

.header_main a.current-page { 
    text-decoration: underline; 
}

.Logo_img { 
    width: 100px; 
    height: 100px; 
    background-color: transparent; 
    padding-right: 1200px;
    padding-left: -10;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: #555555;
    margin-top: 120px;
    margin-left: 561px;
    margin-right: 561px;
    margin-bottom: 0;
    text-align: center;
}

.form-group {
    text-align: center;
    padding: 30px;
    color: #CAD1D4;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 600px;
    text-align: left;
}

.register-btn {
    margin: 0 auto;
    display: block;
    width: 420px;
    height: 55px;
    background-color: transparent;
    border: 2px solid #257AC4;
    color: #257AC4;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer; 
}


#name, #email, #password, #confirm-password {
    width: 610px;
    height: 15px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-size: 20px;
    outline: none; 
}
::placeholder {
    color: #CAD1D4;
}

.Have_reg {
    color:#555555;; 
    font-size: 18px; 
    text-align: center;
    font-family: 'Roboto', sans-serif; 
}

.Auth_reg_btn {
    color: #CAD1D4;
}

.Password_Dont_match{
    
    font-size: 18px; 
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    color: red;
}

.name_not_unique{
    font-size: 18px; 
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    color: red;
}

